name: Coveralls

on:
  push:
    branches: ["release"]
  pull_request:
    branches: ["release"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v3

      - name: Use Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: "npm"

      - name: Start MongoDB 6.0
        uses: supercharge/mongodb-github-action@1.9.0
        with:
          mongodb-version: "6.0"

      - name: Install dependencies
        working-directory: ./back-end
        run: npm i

      - name: Build
        working-directory: ./back-end
        run: npm run build

      - name: Generate coverage info
        working-directory: ./back-end
        run: npm run coverage

      - name: Coveralls
        uses: coverallsapp/github-action@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
